body {
  box-sizing: border-box;
  height: 100vh;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}

.header {
  margin-inline: auto;
  display: flex;
  padding-inline: 100px;
  justify-content: space-between;
  padding-top: 56px;
  background-color: purple;
}

.link__apply {
  color: white;
  font-size: 18px;
  text-decoration-line: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: purple;
  border-radius: 0% 0% 5% 5%;
}

.hero__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  align-items: center;
  gap: 250px;
}

.hero__circles {
  display: flex;
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.hero__btn {
  border: none;
  width: 162px;
  height: 56px;
  background-color: greenyellow;
}

.hero__text {
  font-size: 56px;
  padding: 0;
  text-align: center;
  line-height: 50px;
  width: 635px;
  /* height: 160px; */
}

.phoneimg {
  width: 35%;
  position: relative;
  margin-inline: auto;
  padding-top: 300px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-inline: auto;
/* padding-left: 30px; */
width: 100vh;
margin-top: 50px;
}

.digits {

    border: 1px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    width: 40px;
    height: 40px;
}

.digits__vis {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-inline: auto; */
    flex-direction: column;
}

.title__block {
font-weight: bold;
font-size: 20px;
}

p {
    padding-bottom: 0;
margin-bottom: 0;

}

.avatar__bot {
width: 200px;
height: 200px;
border-radius: 50%;
background-color: green;

}

.container__bot {
display: flex;
}

.avatar__bot {

}

.block__info {
    width: 350px;
    height: 211px;
    background-color: rgb(20, 0, 64);
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
}

.main__bot {
    margin-top: 200px;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    margin-inline: auto;
margin-bottom: 30px;
}

.bot__text {
    color: white;
}

.bot__textinfo {
    font-size: 11px;
    color: white;
}

.bot__btn {
    border: none;
    width: 100px;
    background-color: greenyellow;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: 200px;
}

.bot__links {
display: flex;
}

.bot__btnlink {
    border: none;
    /* width: 10px;
    height: 10px; */
}

.bot__logo {
    width: 50px;
    height: 15px;
}